.project
.settings
.classpath
.factorypath
/target/
/core/log/
/core/logs/
/core/target/
/front/target/
/front/*.exe
/mkd/
/routing/
.idea
/log
/logs
/bin/
*.iml
*.logs
*.ipr
*.iws
adr/log/*.log
cedeadrs/log/*.log
adr-spread
reports/
/core/reports/
core/reports/
core/target/
core/log/
core/logs/
Ignorar metadata de Windows
*:Zone.Identifier
*Zone.Identifier*
.gitignoreZone.Identifier
pom.xmlZone.Identifier
README.mdZone.Identifier
*.Identifier
*.Identifier
*.Identifier