<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%date{ISO8601}] [%level] [%logger{1}] [%thread] - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.apache.kafka" level="ERROR"/>
    <logger name="cl.vc.arb.notification" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="Console"/>
    </root>
</configuration>
